/* index.css */
.chat-container {
    display: flex;
    min-height: 92vh;
  }

  

.form-control{
  font-family: var(--font-montserrat);
  font-size: 18px;
  border: 2px solid #7a7474;
  height: 40px;
  width: 60px;
  
}
  .sidebar {
    position: relative;
    flex: 0 0 250px;
    max-width: 250px;
    transition: all 0.3s;
    background-color:#89CFF0;
    padding: 10px;
    border-right: 1px solid #dee2e6;
  }
  
  .sidebar.collapsed {
    flex: 0 0 50px;
    max-width: 50px;
    overflow: hidden;
    background-color: transparent;
  }
  
  .sidebar .sidebar-toggle-btn {
    position: absolute;
    top: 10px;
    left: 5px;
    z-index: 1;
    background-color: rgb(54, 54, 54);

  }
  
  .chat-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .chat-history {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #dee2e6;
    max-height: 76vh;
    margin-bottom: 10px;
  }
  
  .message-wrapper {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }
  
  .message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    
    margin-right: 10px;
    

  }
  
  .icon {
    font-size: 1.5rem;
  }
  
  .message-box {
    
    padding: 10px;
    border-radius: 10px;
    position: relative;
    max-width: 70%;
  }
  
  .message.user .message-box {
    
    margin-left: 2px;
    width: 100%;
    border: 1px solid #7a7474;
    padding: 6px;
    overflow-y: auto;
    font-family: var(--font-montserrat);
    font-weight: 500;
    font-size: 18px;
    margin-right: 7px;
  }
  
  .message.bot .message-box {
    background-color: transparent;
    width: 100%;
    border: 1px solid #7a7474;
    padding: 10px;
    overflow-y: auto;
    font-family: var(--font-montserrat);
    font-weight: 500;
    font-size: 18px;
    background-color: #e7eeee;
    margin-right: 10px;
  }
    
  
  
  .message-text {
    display: block;
  }
  
  .message-time {
    display: block;
    font-size: 0.75rem;
    color: #999;
    margin-top: 5px;
    text-align: right;
  }
  .chat-history::-webkit-scrollbar {
    display: none; 
  }
