:root {
  --primary-color-light: white;
  --primary-color-dark: #333333;
  --text-color-light: black;
  --text-color-dark: white;
  --background-color-light: #ffffff;
  --background-color-dark: #121212;
 
  
  --btn-hover-border-color: white;
  --dropdown-background-color-light: #ffffff;
  --dropdown-background-color-dark: #333333;
}

.btn-warning {
  background-color: transparent !important; 
  color: var(--text-color) !important; 
  border: none !important; 
  transition: background-color 0.3s ease, color 0.3s ease; 
}
.language-dropdown {
  color: black; 
  transition: color 0.3s; 
}

.btn-btn-warning-dropdown-toggle:hover {
  color: rgba(54, 183, 183, 0.8);
}




.dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.6) !important; 
  color: var(--text-color) !important; }
.btn-warning:hover,
.btn-warning:focus {
 
  color: var(--text-color) !important; 
}


.btn-warning:active {
 /* Background color when clicked */
  color: var(--text-color) !important;
}

body.dark-mode {
  --primary-color: var(--primary-color-dark);
  --text-color: var(--text-color-dark);
  --background-color: var(--background-color-dark);
  --dropdown-background-color: var(--dropdown-background-color-dark);
  --btn-hover-border-color: var(--secondary-color);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.navbar {
  --primary-color: var(--primary-color-light);;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.navbar-light {
  --primary-color: var(--primary-color-light);
  --text-color: var(--text-color-light);
}

.navbar-dark {
  --primary-color: var(--primary-color-dark);
  --text-color: var(--text-color-dark);
}

.navbar-brand {
  font-weight: bold;
  color: var(--text-color);
}


.nav-link{
  top:-2.5px;
  position: relative;
}
.login-logout-btn {
  color: var(--text-color);
  transition: color 0.3s ease;
  border: none; 
  top:-1.5px;
  position: relative;
  background: none;
}

.login-logout-btn:hover {
  color: rgba(54, 183, 183, 0.8);
}

.btn {
  background-color: var(--btn-background-color);
  color: var(--text-color);
  border: 2px solid var(--btn-border-color);
  transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: rgba(54, 183, 183, 0.8);
}

.login-logout-btn {
  color: var(--text-color);
  transition: color 0.3s ease;
  border: none !important; 
  background: none;
  left:-92px;
  position: relative;
}


.login-logout-btn:hover {
  color: rgba(54, 183, 183, 0.8);
}

.language-dropdown .btn {
  color: var(--text-color);
  transition: color 0.3s ease;
  border: none !important;
}
.dropdown-toggle{
  color:transparent;
}
.nav-item{
  margin-right: 10px;
}

.dropdown-item {
  background-color: rgb(155, 152, 152);
  color: rgb(4, 4, 4);
  transition: color 0.3s ease;
  padding: 10px 15px;
  width: 100%;
  top:-8px;
  position: relative;
  box-sizing: border-box;
  margin: 0; 
  border: none; 
  display: block; 
}

/*

.btn:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  transform: translateY(-2px);
  border: 2px solid var(--btn-hover-border-color);
}
*/

.navbar-nav .nav-link {
  color: var(--text-color);
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: rgba(54, 183, 183, 0.8);
}

.navbar-toggler {
  border-color: var(--text-color);
  width: 30px;
  height: 40px;
  border: none;
  left: -3px;
  position: relative;
}


.navbar-toggler:focus {
  outline: none;
}



.btn {
  background-color: var(--btn-background-color);
  color: var(--text-color);
left: -13px;
position: relative;
  transition: all 0.3s ease;
}






.dropdown-menu {
  background-color: var(--dropdown-background-color);
}
dropdown-menushow
.dropdown-item {
  color: var(--text-color);
}
.dark-mode-toggle {
  background: none;
  border: none;
  padding: 0.25rem;
  margin: 0;
  margin-top: 0.3rem; 
  cursor: pointer;
  color: var(--text-color);
  display: flex;
  top:-3px;
  left: -8px;
  position: relative;
  align-items: center;
  justify-content: center;
}

.dark-mode-toggle:focus,
.dark-mode-toggle:active {
  outline: none;
  box-shadow: none;
}

.dark-mode-toggle svg {
  width: 1.5rem;
  height: 1.5rem;
  color: inherit;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.navbar-items {
  display: flex;
  align-items: center;
}

.navbar-item {
  margin: 0 1rem;
  color: inherit; /* Use inherited color */
  text-decoration: none;
}

.btn.login-logout-btn {
  margin-left: 1rem;
}

.navbar-toggler {
  display: none; 
}

@media (max-width: 768px) {
  .navbar-items {
    display: none; 
  }

  .navbar-toggler {
    display: block; 
    border-radius: 6px;
    padding: 2px;
    color: var(--text-color);
  }
}

  .MuiPaper-root.MuiMenu-paper {
    width: 200px;
    background-color: var(--dropdown-background-color);
    color: var(--text-color);
    z-index: 1300;
    display: block !important; 
  }

  .MuiList-root.MuiMenu-list {
    padding: 10px;
  }

